body {
    font-family: "微软雅黑";
}

.col-md-2,
.col-md-7,
.col-md-3 {
    padding: 0;
}


/* 左侧栏 */
.left-sidebar {
    position: fixed;
    width: 15%;
    background: #2c3e50;
    height: 100vh;
    color: white;
    text-align: center;
}

.left-sidebar .head-img {
    width: 150px;
    transition: 1s;
}

.left-sidebar .head-img:hover {
    transform: rotate(360deg);
}

.left-sidebar .title,
.left-sidebar .head-img {
    margin-top: 50px;
}

.left-sidebar p {
    font-size: 18px;
}

.list {
    padding: 0;
    margin-top: 100px;
}

.list .list-item {
    padding: 20px 50px 20px;
    list-style: none;
    font-size: 25px;
    transition: .3s;
    cursor: pointer;
}

.list .list-item:hover {
    background: #1a2938;
}


/* 主内容 */
.main {
    padding-top: 20px;
    padding-right: 40px;
}

.artical {
    margin-top: 15px;
    margin-bottom: 50px;
    border-bottom: 1px solid #bdc3c7;
    height: 200px;
}

.artical:last-child {
    border: none;
}

.artical .title {
    display: inline-block;
    margin-bottom: 15px;
    cursor: pointer;
    transition: .2s;
}

.artical .title:hover {
    color: #7f8c8d;
}

.artical .info {
    color: #7f8c8d;
}

.artical .artical-content {
    line-height: 2;
    text-indent: 2em;
    overflow: hidden;
    /*将对象作为弹性伸缩盒子模型显示*/
    display: -webkit-box;
    /*设置子元素排列方式*/
    -webkit-box-orient: vertical;
    /*设置显示的行数，多出的部分会显示为...*/
    -webkit-line-clamp: 3;
}

.artical-content .content-img {

}

/* 右侧栏 */
.right-sidebar {
    padding-right: 40px;
    padding-top: 20px;
    position: fixed;
    width: 22%;
    height: 100vh;
}

.section {
    margin-bottom: 50px;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
}

.section:last-child,
.section:first-child {
    border: none;
}

.section form {
    margin-top: 20px;
}

.section .search-txt {
    border-radius: 8px;
    outline: none;
    padding: 8px 15px;
    width: 70%;
}

.section .search-btn {
    margin-left: 20px;
    background: none;
    outline: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    transition: .2s;
}

.section .search-btn:hover {
    background: #ecf0f1;
}

.artical-kind .title,
.kind-link .title {
    margin-bottom: 25px;
}

.artical-kind .kind {
    padding-left: 30px;
}

.kind-link li {
    padding: 10px;
}

.kind-link a {
    color: #000;
    text-decoration: none;
    transition: .3s;
}

.kind-link a:hover {
    color: #7f8c8d;
}